@font-face {
    font-family: Dm sans;
    src: url("./fonts/DMSans-Regular.ttf");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

.imp_all {
    background: rgb(84, 170, 255);
    background: linear-gradient(180deg, rgb(84, 170, 255) 0%, rgb(0, 42, 93) 100%);
    color: #fff;
    font-family: "Dm sans";
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=7130") !important;
}

body {
    cursor: url("http://www.rw-designer.com/cursor-extern.php?id=7130") !important;
}